.fontedel {
    background-color: #D84455 !important;
    color: lavender !important;
}

.colorcard{
    background-color:#ffbe92!important;
    margin-top: -17px;
}

.fontecard{
    color: #7b243e!important;
    font-family: Verdana, sans-serif !important;
}
