.appBar{
    display: flex;
    justify-content: end;
    background-color:#D84455!important;
    align-items: center;
}

.box-itens{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.fontenav{
    font-family: Verdana,sans-serif!important;
}

.icons{

    justify-content: space-between!important;

}