.titulo {
    font-weight: bold;
    color: #7b243e!important;
    font-family: Verdana, sans-serif !important;
}
.tabs{
    background-color:#D84455!important;
}
.fontText{
    color: white!important;
    font-family: Verdana, sans-serif !important;
}
