.text-decorator-none {
    text-decoration: none;
}

.fonteposta {
    background-color: #D84455 !important;
    color: lavender !important;
}
.colorcard{
    background-color:#ffbe92!important;
}

.fontecard{
    color: #7b243e!important;
    font-family: Verdana, sans-serif !important;
}
.cordotemadefundo{
    background-color: #E9967AF5 !important;
}