.button {
    background-color: #a03145 !important;
    color: lavender !important;
}

.form {
    background-color: #E9967AF5 !important;
    border-color: #E9967AF5 !important;
}

.form2 {
    font-family: Verdana, sans-serif !important;
    color: #692638!important;
}